.about {
    //border-bottom: 5px solid $primary-color;

    .face {
        border-radius: 50%;
        padding: 10px;
        border: 5px solid $primary-color;
        max-width: 250px;
        margin: 20px auto 40px;

        .canvas {
            border-radius: 50%;
            overflow: hidden;
        }
    }

}