.section {
    min-height: 100vh;
    padding-top: 2 * $navbar-height;
    padding-bottom: $navbar-height;
    display: flex;

    &.head {
        padding-top: 0;
    }

    h2 {
        margin-bottom: 60px;
        font-size: 2.1rem;
    }
}